@page "/cooling"
@using Blazor.App.Services
@using SimpleProgram.Lib.JSInterop

@inject Data Data

<div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Температура наружного воздуха">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.temperature"
                    SimplifyType="@SimplifyType.Average"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Чиллеры">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.chillers"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Гидромодули">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.hydros"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Чиллер 1">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.chiller1"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Чиллер 2">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.chiller2"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Чиллер 3">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.chiller3"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Гидромодуль 1">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.hydro1"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Гидромодуль 2">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.hydro2"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Widget Header="Гидромодуль 3">
            <div class="page1">
                <ScatterByTime
                    Tag="@Data.TGEnergy.hydro3"
                    PlotLyType="@PlotlyTypes.bar"
                    SimplifyTime="86400"/>
            </div>
        </Widget>
    </div>

</div>


@functions {

    [CascadingParameter]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private CascadingValueClass CascadingValue { get; set; }

    private async Task<Sankey> BuildSankey()
    {
        var sankey = new Sankey();

        var begin = CascadingValue.DateTimeRange.Begin;
        var end = CascadingValue.DateTimeRange.End;

        var nodeCooling = sankey.AddNode("Холодоснабжение");

        var nodeChiller1 = sankey.AddNode("Чиллер 1");
        var nodeChiller2 = sankey.AddNode("Чиллер 2");
        var nodeChiller3 = sankey.AddNode("Чиллер 3");
        var nodeHydro1 = sankey.AddNode("Гидромодуль 1");
        var nodeHydro2 = sankey.AddNode("Гидромодуль 2");
        var nodeHydro3 = sankey.AddNode("Гидромодуль 3");

    // Холодоснабжение
        sankey.AddLink(nodeCooling, nodeChiller1,
            await Data.TGEnergy.MDB_A__QF2_1.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeChiller1,
            await Data.TGEnergy.MDB_B__QF2_1.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");
        sankey.AddLink(nodeCooling, nodeChiller2,
            await Data.TGEnergy.MDB_A__QF2_2.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeChiller2,
            await Data.TGEnergy.MDB_B__QF2_2.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");
        sankey.AddLink(nodeCooling, nodeChiller3,
            await Data.TGEnergy.MDB_A__QF2_3.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeChiller3,
            await Data.TGEnergy.MDB_B__QF2_3.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");

        sankey.AddLink(nodeCooling, nodeHydro1,
            await Data.TGEnergy.MDB_B__QF2_4.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeHydro1,
            await Data.TGEnergy.UPS_MDB_A__QF4_1.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");
        sankey.AddLink(nodeCooling, nodeHydro2,
            await Data.TGEnergy.MDB_B__QF2_5.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeHydro2,
            await Data.TGEnergy.UPS_MDB_A__QF4_2.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");
        sankey.AddLink(nodeCooling, nodeHydro3,
            await Data.TGEnergy.MDB_B__QF2_6.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 1");
        sankey.AddLink(nodeCooling, nodeHydro3,
            await Data.TGEnergy.UPS_MDB_A__QF4_3.GetArchiveValueAsync(begin, end, SimplifyType.Increment), "Ввод 2");

        return sankey;
    }

}