@page "/cooling"

@using Blazor.App.Services
@implements IDisposable

@inject Data Data

<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <ScatterByTime 
            Header="Температура"
            Tag="@Data.TGEnergy.temperature"
            BeginTime="@CascadingValue.DateTimeRange.Begin"
            EndTime="@CascadingValue.DateTimeRange.End"
            />
    </div>
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <ScatterByTag 
            Header="От темп. наружного воздуха (1ч)"
            TagX="@Data.TGEnergy.temperature"
            TagXSimplifyType="@SimplifyType.Average"
            TagY="@Data.TGEnergy.tagSum"          
            TagYSimplifyType="@SimplifyType.Increment"
            SimplifyTime="3600"
            BeginTime="@CascadingValue.DateTimeRange.Begin"
            EndTime="@CascadingValue.DateTimeRange.End"
        />
    </div>
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <SankeyComponent Header="Sankey"/>
    </div>

    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <Component1/>
    </div>
    
</div>


@functions {
    [CascadingParameter]
    private CascadingValueClass CascadingValue { get; set; }

    public void Dispose()
    {
//        throw new NotImplementedException();
    }

}
